<!DOCTYPE html>
<html>
<head>
	<title>Xane | Weblink</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet" >
</head>
<body style="margin: 0px;">
	<div style="z-index: 1;position: absolute;width: 100vw; height: 100vh; background-color: #f2f2f2;"></div>
	<div style="width: 100%; height: 100%;">
		<div style="z-index: 2;position: absolute;top: 10vh;left: 0px; right: 0px; bottom: 0px;margin: auto;">
			<center><div style="display:block;"><img src="/xaneLogo1.png"></div></center><br><br><br><br>
			<center><div style="display: block;"><span style="font-family: Roboto; font-style: normal; font-weight: 400; font-size: 35px; color: #4f4f4f;"><font color="red">Invalid Token!</font></span></div></center><br><br>
			<center><div style="display: block;"><img src="/sad.png"></div></center><br><br>
			<!-- <center><div style="display: block;"><span style="font-family: Roboto; font-style: normal; font-weight: 400; font-size: 20px; color: #4f4f4f;"><a href="#" style="color: #4f4f4f; text-decoration: none;">Click here</a> to be redirected to the login page.</span></div></center> -->
		</div>
	</div>
</body>
</html>